body{
	font-size: 30px;
	font-family: "Microsoft YaHei"; 
	background-color: #fcfcfc;
}
table{
	width: 100%;
	border-spacing: 0px 10px;
}
tr{

	background-color: white;
}
td{
	padding: 4px;
	width: 50%;
}
p{
	font-size: 20px
}
#highlight{
	color: red; 
}
#footer{
	text-align: center;
}
